body{
     background-color: lightgreen;   
}
hr{
    border: solid, yellow, 2px;
}
a{
    color: grey;
    text-decoration: none;
}
p{
    text-align: justify ;
}
.tabla{
    margin-left: 80px;
    margin-right: 80px;
}
.oszlop1{
    text-align: center;
}
.oszlop2{
    color: grey;
}
.jobbra{
    text-align: right;
}
.kistabla{
    text-align: left;
    width:1000px
}
.sarga{
    background-color: yellow;
}
.pulik{
    vertical-align:top
}
#tortenete{
    color: yellow;
}
#kulleme{
    color: yellow;
}
#szinei{
    color: yellow;
}
#jelleme{
    color: yellow;

}
.nagybetus{

}
.kozepre{
    align: center;
}
#hires{
    color: yellow;
}
#meretei{
    color: yellow;
    
}
#rokonfajtak{
    color: yellow;
}
.jobbkep{
    width: 200px;
    float: right;
}